.label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.label_text{
    margin: 0 5px;
}

.label_crossed{
    text-decoration: line-through;
}