.listitemContainer{
    display: flex;
    height: 100%;
    max-height: 80px;
    align-items: center;
    padding: 20px;
    border: 1px solid lightgray;
}

.listitemContainer .label{
    text-align: left;
    font-size: 20px;
}
